.block3{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2% 10%;
    height: 200px;
    justify-content:center;
    box-sizing: border-box;
    font-family: "Raleway";
    margin-bottom: 10%;
    
}
.why{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 110px;
    margin-left: 6%;
}
.column{
    display: flex;
    flex-direction: column;
    width: 30%;  
    box-sizing: border-box; 
    margin-right: 3%;
    padding-top: 10px;
    /* border: 1px solid #e8ce27; */
}
.column img{
    padding-top: 17px;
}
.why h2{
    font-size: 23px;
    font-weight: 700;
    color: black;
    margin-top: 80px;
    margin-left: 10px;
    background: linear-gradient(to bottom, #FFFBED, #e8ce27);
}
.why p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    align-self: center;
    /* border: 1px solid #e8ce27; */
    padding: 30px 15px;
}
.p{
    display: flex;
    padding-top: 1%;   
    padding-left: -100px; 
}
    
.p p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    align-content: center;   
}
.column1{
    left: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #e8ce27; */
}
.column1 p{
    padding-right:130px;
}
.column p{
    padding-right: 30px;
}
.column1 img{
    padding-top: 17px;
}